@import "../../shared/estilos-globais.css";

body {
    width: 100%;
    background: linear-gradient(to bottom, #FFB4B4, #F5F0F0);
    margin: 0;
    padding: 2rem;
}

.titulo {
    text-align: center;
    & h1 {
        margin-bottom: 1rem;
    }
}

hr {
    height: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.content {
    display: flex;
    width: 100%;
    justify-content: center;
}

.dashboards {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--cor-terciaria);
    box-shadow: 0px 4px 10px rgb(51, 51, 51);
    border-radius: 15px;
}

.graficos {
    background-color: var(--cor-sextiaria);
    width: 90%;
    height: auto;
    border: 2px solid var(--cor-quinaria);
    border-radius: 15px;
    box-shadow:  0px 3px 3px gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.graficoPizza {
    width: 80%;
    height: 100%;
}

.tituloGrafico {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30%;
}

.filtrarGrafico {
    width: 2rem;
    border: none;
    box-shadow: 0px 3px 3px gray;
    padding: 1px;
    &:hover {
        cursor: pointer;
    }
}

.divFiltrar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.graficoBarra {
    width: 80%;
    height: 80%;
}

.dadosMapa {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.dados {
    width: 50%;
    height: auto;
    background-color: var(--cor-sextiaria);
    border: 2px solid var(--cor-quinaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 10px gray;
    border-radius: 15px;
}

.labelQtdPacientes {
    font-size: 3rem;
}

.qtdPacientesDiv {
    margin: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    width: 30%;
    height: 10rem;
}

.mapa {
    width: 50%;
    height: 15rem;
    background-color: var(--cor-sextiaria);
    border: 2px solid var(--cor-quinaria);
    box-shadow: 3px 3px 10px gray;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloMapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.tela {
    z-index: 10000;
    position: relative;
    background-color: var(--cor-terciaria);
    width: 80%;
    height: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(8, 8, 8);
}

.fecharMapaTela {
    position: absolute;
    z-index: 100000;
    right: 20px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 2px 3px black;
    &:hover {
        cursor: pointer;
    }
}

@media (min-width: 1366px) {
    .titulo {
        font-size: 2rem;
    }

    main {
        font-size: 1.3rem;
    }
}

@media (max-width: 1100px) {
    .graficoPizza,
    .graficoBarra {
        height: auto;
        width: 60%;
    }
    .tituloGrafico {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .dashboards {
        width: 100%;
        height: auto;
    }
    .qtdPacientesDiv {
        height: 6rem;
    }
}

@media (max-width: 650px) {
    .graficoPizza,
    .graficoBarra { 
        height: auto;
        width: 50%;
    }
    .qtdPacientesDiv {
        height: 4rem;
    }
}