@import "../../shared/estilos-globais.css";

body {
    width: 100%;
}

label {
    &:hover {
        cursor: pointer;
    }
}

button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50px;
    background-color: hsl(0, 0%, 90%);
    box-shadow: 2px 2px 2px hsl(0, 0%, 18%);
    outline: none;
    border: none;
    &:hover {
        cursor: pointer;
        background-color: hsl(0, 0%, 83%);
    }
    &:active {
        background-color: hsl(0, 0%, 78%);
    }
}

.divExterno {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divInterno {
    background-color: var(--cor-quaternaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    margin: 0.5rem;
    margin-bottom: 1rem;
    width: 80%;
    height: auto;
    border-radius: 20px;
    box-shadow: 
    -6px 0 5px -5px hsla(0, 0%, 0%, 0.4),
     6px 0 5px -5px hsla(0, 0%, 0%, 0.4),
     0px 6px 5px -5px hsla(0, 0%, 0%, 0.4);
}

.usuario {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
}

.fotoNome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;    .divExterno {
        margin-top: 0;
    }
}

#usuarioFoto {
    width: 8rem;
    border-radius: 50%;
    box-shadow: 0px 3px 3px gray;
    margin-bottom: 1rem;
}

#nomeh {
    font-family: "JetBrains Mono", "times new roman";
    margin: 0.5rem;
    font-size: 1.5rem;
}

.logout {
    position: absolute;
    right: 0px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.informacoesPessoais {
    border: 2px solid var(--cor-quinaria);
    background-color: var(--cor-sextiaria);
    box-shadow: 0px 3px 3px gray;
    border-radius: 15px;
    padding: 1rem;
    margin: 0.5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: auto;
}

.informacoesPes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.duplaInformacoes {
    gap: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.informacoesProfissionais {
    border: 2px solid var(--cor-quinaria);
    background-color: var(--cor-sextiaria);
    box-shadow: 0px 3px 3px gray;
    border-radius: 15px;
    padding: 1rem;
    margin: 0.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: auto;
}

.informacoesPro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.pLabel {
    display: flex;
    flex-direction: row;
}

.alterar {
    display: flex;
    align-items: center;
    gap: 8rem;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 900;
    justify-content: center;
    align-items: center;
}

.tela {
    position: relative;
    background-color: var(--cor-terciaria);
    width: 40%;
    height: 40%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(8, 8, 8);
}

.fecharTela {
    position: absolute;
    right: 20px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 2px 3px black;
    &:hover {
        cursor: pointer;
    }
}

.botao1,
.botao2 {
    &:active {
        background-color: var(--cor-quinaria);
    }
}


@media (min-width: 1366px) {
    button {
        width: 2rem;
        height: 2rem;
        font-size: 1.3rem;
    }
}

@media (max-width: 1000px) {
    .divExterno {
        width: 100%;
    }

    .informacoesPessoais {
        width: 100%;
    }
    .informacoesProfissionais {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .divInterno {
        width: 100%;
    }

    .duplaInformacoes {
        gap: 2rem;
    }
}

@media (max-width: 580px) {
    .divInterno {
        width: 100%;
    }

    .alterar {
        gap: 2rem;
    }

    .duplaInformacoes {
        gap: 1rem;
        flex-direction: column;
    }

    .informacoesPessoais {
        height: auto;
    }
}