* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #fff0f0, #f5c9c9);
    width: 100%;
    margin:0;
}

button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 2px 2px 2px hsl(0, 0%, 18%);
    outline: none;
    border: none;
    &:hover {
        cursor: pointer;
        background-color: hsl(0, 0%, 93%);
    }
    &:active {
        background-color: hsl(0, 0%, 88%);
    }
}

main {
    padding-left: 4rem;
    padding: 20px;
}

.form-conatiner {
    background: #fff;
    border-radius:10px;
    padding:20px;
    max-width: 950px;
    margin:auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2{
    margin-top: 50px;
    color:#000000;
    text-decoration:underline;
    font-size:20px;
    margin-bottom:10px;
}

.header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap: wrap;
    margin-bottom:10px;
}

.header input {
    margin-bottom:10px;
}

.section{
    background-color: #D8CACC;
    margin-top:20px;
    border: 2px solid #b28989;
    padding:15px;
    border-radius:8px;
}

.section h3 {
    
    background: #634949;
    padding: 5px 10px;
    border-radius:5px;
    margin:-15px -15px 15px -15px;
    font-size:16px;
    color:#fff;
}
 
label {
    display:block;
    margin-top:10px;
    font-weight: bold;
    font-size:14px;
}

input, textarea {
    width:100%;
    padding:5px;
    margin-top:3px;
    box-sizing: border-box;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:14px;
}

.row {
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}

.col {
    flex:1;
    min-width: 200px;
    
}

@media (min-width: 1366px) {
    button {
        width: 2rem;
        height: 2rem;
        font-size: 1.3rem;
    }
}

@media (max-width: 900px) {
}

@media (max-width: 700px) {

}