@import "../../shared/estilos-globais.css";

body {
  background: var(--cor-fundo);
  margin: 0;
  padding: 2rem;
}

.container {
  background-color: var(--cor-terciaria);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 0.5rem;
}

.header-info {
  border: 2px solid var(--cor-quinaria);
  border-radius: 8px;
  padding: 1rem;
  background-color: #f4eaed;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

fieldset {
  border: 2px solid var(--cor-quinaria);
  border-radius: 8px;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: var(--cor-sextiaria);
}

legend {
  padding: 0 10px;
  font-weight: bold;
  color: #2b1a1a;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
  gap: 10px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: var(--cor-texto);
}

input {
  padding: 6px;
  border: 1px solid var(--cor-quaternaria);
  border-radius: 5px;
  margin-top: 2px;
}

select {
  background-color: white;
  border: 1px solid var(--cor-quaternaria);
  padding: 5px;
  border-radius: 5px;
}

select:focus {
  border-color: var(--cor-quaternaria);
}

option {
  background: var(--cor-secundaria);
  color: var(cor-texto);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}