@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --cor-primaria: #d04b82;
    --cor-secundaria: #F778A1;
    --cor-terciaria: #fdfdfd;
    --cor-quaternaria: #3A1C1C;
    --cor-quinenaria: #f4eaed;
    --cor-fundo: linear-gradient(to bottom, #f0c8c8, #ffffff);
    /* --cor-fundo: hsl(0, 86%, 93%, 100%); */
    --cor-texto: #4A4A4A;
    --verde-sucesso: #98FB98;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

main {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding-left: 6rem;
    background: var(--cor-fundo);
}

.botao1 {
    background-color: #FFB6C1;
    border: none;
    border-radius: 1rem;
    color: #97365F;
    cursor: pointer;
    transition: ease 0.3s;

    &:hover {
        background-color: #97365F;
        color: white;
    }
}

@media (min-width: 1366px) {
    main {
        padding-left: 6rem;
    }
}

@media (min-width: 1000px) {
    main {
        padding-left: 4rem;
    }
}

@media (max-width: 1000px) {
    main {
        padding-left: 2rem;
    }
}

@media (max-width: 560px) {
    main {
        padding-left: 1.5rem;
    }
}